<ion-header>
  
</ion-header>

<ion-content padding>
  
<ion-list>
    <ion-item-sliding  >
        <ion-item>
            <ion-avatar>
                <img src="assets\img\frangocomcatupiry.jpg">
            </ion-avatar>
            <ion-label>Frango com Catupiry </ion-label>
            <ion-item-options side="end">
                <ion-item-option  color="primary" (click)="adicionar(item)">Adicionar</ion-item-option>
                <ion-item-option  color="danger" (click)="remover(item)">Remover</ion-item-option>
            </ion-item-options>
          </ion-item>
          <ion-item>
              <ion-avatar>
                  <img src="assets\img\quatroqueijos.jfif">
                </ion-avatar>
            <ion-label>Quatro queijos</ion-label>
            <ion-item-options side="end">
                <ion-item-option  color="primary" (click)="adicionar(item)">Adicionar</ion-item-option>
                <ion-item-option  color="danger" (click)="remover(item)">Remover</ion-item-option>
            </ion-item-options>
          </ion-item>
          <ion-item>
            <ion-avatar>
               <img src="assets\img\calabresa.jpg">
            </ion-avatar>
            <ion-label>Calabresa</ion-label>
            <ion-item-options side="end">
                <ion-item-option  color="primary" (click)="adicionar(item)">Adicionar</ion-item-option>
                <ion-item-option  color="danger" (click)="remover(item)">Remover</ion-item-option>
            </ion-item-options>
          </ion-item>
          <ion-item>
              <ion-avatar>
                  <img src="assets\img\portuguesa.jpg">
                </ion-avatar>
            <ion-label>Portuguesa</ion-label>
            <ion-item-options side="end">
                <ion-item-option  color="primary" (click)="adicionar(item)">Adicionar</ion-item-option>
                <ion-item-option  color="danger" (click)="remover(item)">Remover</ion-item-option>
            </ion-item-options>
          </ion-item>
      
  </ion-item-sliding> 
</ion-list>
</ion-content>
