<ion-header>
  
</ion-header>

<ion-content padding>
<ion-list>
  <ion-item>
    <ion-label>Calabresa</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Frango com Catupiry</ion-label>
  </ion-item>
  <ion-item>
      <ion-label>Portuguesa</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Quatro queijos</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Palmito</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Bolonhesa</ion-label>
      </ion-item>
</ion-list>
</ion-content>
