<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formulario">
    <ion-list>
        <!-- EMAIL -->
        <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" formControlName="email" ></ion-input>
        </ion-item>
        <!-- SENHA -->
        <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" formControlName="senha"></ion-input>
        </ion-item>
    </ion-list>
    
    <!-- LOGAR -->
    <ion-button shape="round" expand="full" color="light" (click)="clicou()"> 
        Logar 
    </ion-button> 
  </form>
  <p id="alerta">{{ msg }}</p>

  <!-- CADASTRAR -->
  <p id="cadastre-se" (click)="cadastrar()">Não possui conta? Clique aqui para cadastrar-se</p>

  
</ion-content>
