<ion-header>
  <ion-toolbar >
    <ion-title  text-center>
      Pizza Delivery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="tradicionais">
      <ion-icon name="pizza"></ion-icon>
      <ion-label>Tradicionais</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="especiais">
      <ion-icon name="pizza"></ion-icon>
      <ion-label>Especiais</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="doces">
      <ion-icon name="pizza"></ion-icon>
      <ion-label>Doces</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
  



</ion-content>
