ion-toolbar{
    --position:center;
    --title-collor: #f5f5f5;
    --background: #040911;
}
ion-content {
    --background: #060a11;
    --margin-top: 16px;

    
    
}
ion-list{
    -webkit-appearance: ion-button {
        --background: #3880ff;
        --background-activated: #040911;
        --background-focused: #020408;
        --border-color: #3880ff;
        --border-radius: 8px;
        --border-style: solid;
        --border-width: 8px;
        --box-shadow: 10px 10px;
        --color: #1a0606;
        
    opacity: 9px;
        }
        
}


